*.log
*.sql
scripts/TextFormatter
scripts/TextCustomBundle/TextFormatter.php
scripts/TextCustomBundle/Renderer_*.php
scripts/mail/body.html
scripts/mail/title.txt
docker
vendor
composer.lock
*.jpg
*.png
*.gif
*.jpeg
.env
